@import '../colors.less';

.text.html{
	.tag{
		color: @hue-2;
	}

	.attribute-name{
		color: @hue-5;
		&.angular{
			color: @hue-5-2!important;
		}
	}

	.comment{
		color: @hue-4;
	}

	.string{
		color: @mono-2;
	}
	.variable, .keyword{
		color: @mono-1 !important;
	}
	.delimiter.property ~ .constant.dom{
		color: @mono-1;
	}
	.punctuation{
		color: @mono-1 !important;
	}
	.sgml{
		&, & > .definition.tag{
			color: @hue-3;
		}
	}
	.tag.template{
		color: @mono-1;
		font-weight: 400;
	}
}
