.source.js {
  .keyword{
    color: @hue-2;
  }

  .variable, .support.function{
    color: @mono-1;
  }

  .storage.type{
    color: @hue-2;
    & ~ .function.name{
      color: @hue-6-2;
    }
  }
  .constant{
    color: @hue-4;
  }
  .delimiter.method + .constant{
    color: @mono-1;
  }

  .variable.language, .support.class,.console, .storage.modifier{
    color: @hue-5;
  }

  .storage.type.arrow, .keyword.operator{
    color: @hue-5;
  }
  .function> .function.name{
      color: @mono-1;
  }

}
