@import '../colors.less';

.source.json{
	.dictionary, .array{
		> .string.quoted{
			color: @mono-1 !important;
			.punctuation{
				color: @mono-1 !important;
			}
		}
	}
	.value{
		> .string.quoted{
			color: @hue-4-2 !important;
			.punctuation{
				color: @hue-4-2 !important;
			}
		}
		.constant{
			color: @hue-5;
		}
	}
}
